<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="guardar(forma)" #forma="ngForm"  novalidate="">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="name"
               minlength="5"
               [(ngModel)]="usuario.name"
               required
               #name="ngModel">

        <div *ngIf="name.errors?.required">
        nombre es requerido
        </div>
        <div *ngIf="name.errors?.minlength">
        al menos {{name.errors.minlength.requiredLength}} caracteres
         </div>
      </div>
      
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">telefono</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="telefono"
               name="phone"
               [(ngModel)]="usuario.phone"
               required
               #phone="ngModel">

             <div *ngIf="phone.errors?.required">
              telefono es requerido
              </div>
                
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">
      <!-- pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" -->
      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             name="email"
             [(ngModel)]="usuario.email"
             required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #email="ngModel" >

             <div *ngIf="email.errors?.required">
                Email es requerido
                  </div>
             <div *ngIf="email.errors?.pattern">
                debe ingresar un formato valido de email
                </div>
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

  

</form>


  <div>
    <button type="button" (click)="getAllUsers()" class="btn btn-outline-primary" >Traer todos los usuarios</button>
    
  </div>
  
    <div *ngIf="dataUsers.length > 0">
      <table class="table table-striped">
          <thead>
              <tr>
         
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
       <tbody *ngFor="let item of dataUsers" class="table table-striped"> 
          <tr>
            <th> {{item.name}}</th>
            <th>  {{item.phone}}</th>
            <th>  {{item.email}}</th>

          </tr> 


        </tbody>
      </table>

    </div>
      

